# Do not lint installed npm packages
node_modules

# Do not lint compiled TypeScript declaration files...
*.d.ts
# ...expect the ones in `types`folder
!/types/*.d.ts

# Do not lint compiled JavaScript files
*.js
