# Ignore compiled scripts
*.js
*.js.map
*.d.ts

# Ignore npm installed packages
/node_modules

# Ignore npm debug log file
/npm-debug.log

# Ignore OS X hidden files
.DS_Store

# Ignore packed npm packages
*.tgz

# This zip file is made manually when publishing the npm package,
# after the compilation, so it is ignored from the version control.
/res/cloudformation-migration-lambda.zip
