# Exclude code editor preference configuration
/.editorconfig

# Exclude Visual Studio Code setting files
/.vscode

# Exclude eslint preferences
/.eslintrc.json
/.eslintignore

# Do not include the tsconfig.json used to compile BroilerKit itself
/tsconfig.json

# Exclude specs
/spec/

# Ignore packed npm packages
*.tgz

# Ignore OS X index files
.DS_Store
